<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Track that</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->  
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <meta name="google-signin-client_id" content="458676616197-ao4l7kptq48hsfpqqebi7jp3u1idhlh3.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/inbox.css">
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">track that</a>
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <!-- <a class="btn btn-default btn-lg" href="#">Gmail Sign &raquo;</a> -->
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"><a href="/oauth2callback"></a></div> -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="/inbox">Messages <span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                        <li><a href="/task-list">My Tasks <span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-check"></span></a></li>
                        <li ><a href="/task-list">Search <span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
                    </ul>
<!--                     <div>
                        <p align="right"><a href="/signout" onclick="signOut();">Sign out<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></p></div> -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    {% block content %} put your content here {% endblock %}

</body>
</html>