<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>track that</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/static/check-logo.png" type="image/gif" sizes="16x16">
    
    <!-- Custom CSS -->
    <link href="/static/css/business-frontpage.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel=
    'stylesheet' type='text/css'>
    <meta content=
    "458676616197-ao4l7kptq48hsfpqqebi7jp3u1idhlh3.apps.googleusercontent.com"
    name="google-signin-client_id">
    <script async defer src="https://apis.google.com/js/platform.js">
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=
                "#bs-example-navbar-collapse-1" data-toggle="collapse" type=
                "button"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span></button> <a class="navbar-brand"
                href="#">track that</a>
            </div>
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="btn btn-default btn-sm" href="#">Gmail Sign
                &raquo;</a>
                <div class="g-signin2" data-onsuccess="onSignIn">
                    <a href="/oauth2callback"></a>
                </div>
            </div>
        </div>
    </nav><!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row"></div>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2>About track that</h2>
                <p>track that introduces control over your inbox while
                providing the visibility needed for your team to function
                smoothly without having to use so many external trackers. No
                more dropped tasks, the need to communicate in multiple
                platforms and now you can get your time back chasing people
                down to provide them with status updates. track that will be
                doing a lot of developments.</p>
            </div>
            <div class="row">
                <div align="center" class="col-sm-6">
                    <img alt="" class="img-circle img-responsive img-center"
                    src="/static/gmail-logo.png">
                    <h2>Gmail Inbox</h2>
                    <p>Access your gmail inbox and start tracking your
                    tasks.</p>
                </div>
                <div align="center" class="col-sm-6">
                    <img alt="" class="img-circle img-responsive img-center"
                    src="/static/slack-logo.png">
                    <h2>Slack</h2>
                    <p>Share your tracked tasks on Slack to provide visibility
                    across different teams while eliminating the hassle of
                    using many external trackers</p>
                </div>
            </div>
            <!-- jQuery -->
            <script src="/static/js/jquery.js">
            </script> 
            <!-- Bootstrap Core JavaScript -->
             
            <script src="/static/js/bootstrap.min.js">
            </script> 
        </div>
    </div>
</body>
</html>