<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/inbox.css">
    <title>Inbox</title>

</head>
<body>
    <div id="header">
    <p align="right"><a href="#" onclick="signOut();">Sign out</a></p>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
    </div>

    <div id="sidebar">
    <h2>Folders</h2>
    <a href="/search-task">Tasks</a>
    </div>

    <div id="content">
    <table width="1300">
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date</th>

        {% for key, message in headers_dict.items() %}
        </tr>
            <td> {{ message['From'] }}</td>
            <td><div class="span4"><a href="/handle-message/{{ key }}">{{ message['Subject'] }} </a></div></td>
            <td> {{ message['Date'] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>