<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/inbox.css">
    <script src="/static/js/inbox.js"></script>
    <title>Inbox</title>

</head>
<body>
    <div id="header">
    <p align="right"><a href="/signout" onclick="signOut();">Sign out</a></p>
    </div>

    <div id="sidebar">
    <h2>Folders</h2>
    <a href="/task-list">My Tasks</a>
    <br>
    <a href="/task-list">Search</a>
    </div>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date</th>

        {% for key, message in headers_dict.items() %}
          <tr>
            <td> {{ message['From'] }}</td>
            <td><div class="span4"><a href="/handle-message/{{ key }}" onclick="openMessage();">{{ message['Subject'] }} </a></div></td>
            <td> {{ message['Date'] }}</td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>