{% extends 'base.html' %}
{% block content %}

    <div class="main">
    </div>
    <div class="container">
      <table class="table table-striped table-hover table-condensed table-responsive" style="padding:0px;">
        <thead>
          <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for key, message in headers_dict.items() %}
          <tr id="{{ key }}" class="messagebody">
            {% if " " in message['From'] %}
                <td> {{ message['From'].split("<")[0] }} <br> {{ message['From'].split(">")[0].split("<")[1] }} </td>
            {% else %}
                <td> {{ message['From'] }} </td>
            {% endif %}
                <td> {{ message['Subject'] }} </td>
            {% if " -" in message['Date'] %}
                <td> {{ message['Date'].split(" -")[0][:-9]}} <br> {{ message['Date'].split(" +")[0].split(" ")[4] }}</td>
            {% else %}
                <td> {{ message['Date'].split(" +")[0][:-9]}} <br> {{ message['Date'].split(" +")[0].split(" ")[4] }}</td>
            {% endif %}
            {% if message['Email'].is_complete() %}
                <td><i class="fa fa-check-square"></i></td>
            {% else %}
                <td><i class="fa fa-minus-square"></i></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<!-- Task Button trigger modal -->
<div id='create-task' style="display:none;" align="right">
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  Create a task
</button>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" align="left">New Task</h4>
      </div>
      <div class="modal-body">
        <form align="left">
        <label> Enter Task </label>
            <textarea type="text" size="100" id="taskname" name="entertask" value="Enter Task" required="required"></textarea>
        <br>
        <label> Due Date </label>
            <input type="date" id="duedate" name="duedate" required="required ">
        <br>
        <label>
            <input id = "slackchannel" type="checkbox" name="collab" value="Share"> Share this task
        </label>
      </div>
      <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div></form>
    </div>
  </div>
</div>
</div>

<!-- Body of message -->
<div id="messageoutput"></div>
<script src="/static/js/inbox.js"></script> 
<!-- <script src="/static/js/listoftasks.js"></script>  -->

{% endblock %}