<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/inbox.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Inbox</title>

</head>
<body>
    <!-- got this from http://bootsnipp.com/snippets/featured/responsive-sidebar-menu -->
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            </button>
            <a class="navbar-brand">Task that</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/inbox">Messages <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                <li><a href="/task-list">My Tasks <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span></a></li>
                <li ><a href="/task-list">Search <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
            </ul>
            <p align="right"><a href="/signout" onclick="signOut();">Sign out<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></p>
        </div>
    </div>
</nav>
    <div class="main">
    </div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date</th>

        {% for key, message in headers_dict.items() %}
          <tr id="{{ key }}" class="messagebody">
            <td> {{ message['From'] }}</td>
            <td> {{ message['Subject'] }} </td>
            <td> {{ message['Date'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<!-- Task Button trigger modal -->
<div id='create-task' style="display:none;" align="right">
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  Create a task
</button>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" align="left">New Task</h4>
      </div>
      <div class="modal-body">
        <form align="left">
        <label> Enter Task </label>
            <textarea type="text" size="100" id="taskname" name="entertask" value="Enter Task" required="required"></textarea>
        <br>
        <label> Due Date </label>
            <input type="date" id="duedate" name="duedate" required="required ">
        <br>
        <label>
            <input id = "slackchannel" type="checkbox" name="collab" value="Share"> Share this task
        </label>
      </div>
      <div class="modal-footer">
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div></form>
    </div>
  </div>
</div>
</div>

<!-- Body of message -->
<div id="messageoutput"></div>
    

<!-- Search box-->
<form action="/search-tasks" id="search-form">
    <input id="searchbox" type="text" name="q" placeholder="Search">
    <input type="submit" value="Enter">
</form>

<!-- List of tasks -->
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Task Completed</th>

      {% for i in tasks %}
      <tr>
        <td id="{{ i.task_name }}" class="taskname"> {{ i.task_name }} </td>
        <td> {{ i.task_created_at.month }}-{{ i.task_created_at.day }}-{{ i.task_created_at.year}} {{ i.task_created_at.hour }}:{{ i.task_created_at.minute }}:{{ i.task_created_at.second }} </td>
        <td> {{ i.due_date.month }}-{{ i.due_date.day }}-{{ i.due_date.year}} </td>
        <td><input id = "checkbox" type="checkbox" name="comp" value="Completed"></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

    <script src="/static/js/inbox.js"></script>
</body>
</html>