{% extends 'base.html' %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/static/js/listoftasks.js"></script>
</head>

<form action="/search-tasks" id="search-form">
    <input id="searchbox" type="text" name="q" placeholder="Search">
    <input type="submit" value="Enter">
</form>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Task Completed</th>

      {% for i in tasks %}
      <tr>
        <td id="{{ i.task_name }}"> {{ i.task_name }} </td>
        <td> {{ i.task_created_at.month }}-{{ i.task_created_at.day }}-{{ i.task_created_at.year}} {{ i.task_created_at.hour }}:{{ i.task_created_at.minute }}:{{ i.task_created_at.second }} </td>
        <td> {{ i.due_date.month }}-{{ i.due_date.day }}-{{ i.due_date.year}} </td>
        <td><input id = "checkbox" type="checkbox" name="comp" value="Completed"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="/static/js/listoftasks.js"></script>
</div>
{% endblock %}
