{% extends 'base.html' %}
{% block content %}

<div class="col-lg-2">
  <form action="/search-tasks" id="search-form">
    <div class="input-group">
      <input id="searchbox" type="text" name="queryterm" class="form-control" placeholder="Search for...">
        <span class="input-group-btn"><input class="btn btn-default" type="submit" value="Go"></span>
    </div>
  </form>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="row">Task Name</th>
        <th scope="row">Created on</th>
        <th scope="row">Due</th>
        <th scope="row">Completed</th>

      {% for i in tasks %}
      <tr>
        <td id="{{ i.task_name }}" class="taskname"> {{ i.task_name }} </td>
        <td> {{ i.task_created_at.month }}-{{ i.task_created_at.day }}-{{ i.task_created_at.year}} </td>
        <td> {{ i.due_date.month }}-{{ i.due_date.day }}-{{ i.due_date.year}} </td>
        {% if i.task_completed == True %}
          <td><input class="checkbox" type="checkbox" name="comp" checked="yes"></td>
        {% else %}
          <td><input class="checkbox" type="checkbox" name="comp"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="/static/js/listoftasks.js"></script>
</div>
{% endblock %}
