<!doctype html>
<html>
<head>
    <meta name="google-signin-client_id" content="458676616197-ao4l7kptq48hsfpqqebi7jp3u1idhlh3.apps.googleusercontent.com">
    <title>Login</title>

</head>

<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <br>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
    <br>
    <a href="/inbox">Inbox</a>
</body>
</html>