{% extends 'base.html' %}
{% block content %}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Created on</th>
        <th>Due</th>
        <th>Completed</th>

      {% for i in results %}
      <tr>
        <td id="{{ i.task_name }}" class="taskname"> {{ i.task_name }} </td>
        <td> {{ i.task_created_at.month }}-{{ i.task_created_at.day }}-{{ i.task_created_at.year}} </td>
        <td> {{ i.due_date.month }}-{{ i.due_date.day }}-{{ i.due_date.year}} </td>
        {% if i.task_completed == True %}
        <td><input class="checkbox" type="checkbox" name="comp" checked="yes"></td>
        {% else %}
        <td><input class="checkbox" type="checkbox" name="comp"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="/static/js/listoftasks.js"></script>
</div>
{% endblock %}
