{% extends 'base.html' %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<form action="/search-tasks" id="search-form">
    <input id="searchbox" type="text" name="queryterm" placeholder="Search">
    <input type="submit" value="Enter">
</form>

<div class="container">
  <table class="table">
    <h1>Search Results</h1>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Task Completed</th>

        {% for i in results %}
      <tr>
        <td> {{ i.task_name }} </td>
        <td> {{ i.task_created_at }} </td>
        <td> {{ i.due_date }} </td>
        <td> {{ i.task_completed }} </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</div>
