<!doctype html>
<html>
<head>
    <title>Task</title>
</head>
<body> 
    <div id="newtask">
        <form action="#" id="task" method="POST">
            <h2>New Task</h2>
            <input type="text" size="100" name="entertask" value="Enter Task">
            <br>
            <input type="checkbox" name="collab" value="Share"> Share this task
        </form>
    </div>
    <div><p align="right"></p>
    <form action="/search-task">
    <button id='submit'>Submit</button>
    <button id='cancel'>Cancel</button>
    </div>
</body>
</html>