{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/tasks.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Task</title>
</head>
    <form action="/task-list/{{ msg_id }}" method = 'POST' id="task">
        <label>
            New Task
            <br>
            <textarea type="text" size="100" id="taskName" name="entertask" value="Enter Task" required='required' ></textarea>
        </label>
        <br>
        <label>
            Due Date
            <input type="date" name="duedate" required='required' >
        </label>
        <br>
        <label>
            <input id = "slackchannel" type="checkbox" name="collab" value="Share"> Share this task
        </label>
        <br>
        <label>
          <b>Completed Task</b>
          <input type="radio" name="taskcomp" value="yes"> Yes </input>
          <input type="radio" name="taskcomp" value="no"> No </input>
        </label>
        <br>
        <label>
            <input type="submit" id="submit" value='Submit'>
        </label>
        <label>
            <button id='cancel' onclick="/inbox">Cancel</button>
        </label>
    </form>
    <script src="/static/js/task.js"></script>
{% endblock %}